<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<bellunopayment>
				<title>Belluno - Credit Card</title>
				<active>1</active>
				<debug>0</debug>
				<min_installment>1</min_installment>
				<can_use_internal>1</can_use_internal>
				<can_use_checkout>1</can_use_checkout>
				<can_authorize_vault>1</can_authorize_vault>
				<can_capture_vault>1</can_capture_vault>
				<can_authorize>1</can_authorize>
				<can_capture>1</can_capture>
				<can_capture_partial>0</can_capture_partial>
				<can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
				<can_refund>1</can_refund>
				<can_void>1</can_void>
				<can_cancel>1</can_cancel>
				<can_fetch_transaction_information>1</can_fetch_transaction_information>
				<can_fetch_transaction_info>1</can_fetch_transaction_info>
				<can_review_payment>0</can_review_payment>
				<can_deny_payment>0</can_deny_payment>
				<can_accept_payment>0</can_accept_payment>
				<currency>BRL</currency>
				<is_gateway>1</is_gateway>
				<model>BellunoMagento2FacadeCc</model>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<sort_order>0</sort_order>
			</bellunopayment>
			<bellunobankslip>
				<title>Belluno - Bank Slip</title>
				<active>1</active>
				<debug>0</debug>
				<expiration_days>1</expiration_days>
				<sort_order>0</sort_order>
				<allowspecific>0</allowspecific>
				<currency>BRL</currency>
				<can_authorize>1</can_authorize>
				<can_use_checkout>1</can_use_checkout>
				<can_use_internal>1</can_use_internal>
				<can_fetch_transaction_information>1</can_fetch_transaction_information>
				<can_fetch_transaction_info>1</can_fetch_transaction_info>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<model>BellunoMagento2FacadeBankSlip</model>
				<is_gateway>1</is_gateway>
			</bellunobankslip>
			<bellunopix>
				<title>Belluno - Pix</title>
				<active>1</active>
				<debug>0</debug>
				<expiration_days>1</expiration_days>
				<sort_order>0</sort_order>
				<allowspecific>0</allowspecific>
				<currency>BRL</currency>
				<can_authorize>1</can_authorize>
				<can_use_checkout>1</can_use_checkout>
				<can_use_internal>1</can_use_internal>
				<can_fetch_transaction_information>1</can_fetch_transaction_information>
				<can_fetch_transaction_info>1</can_fetch_transaction_info>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<model>BellunoMagento2FacadePix</model>
				<is_gateway>1</is_gateway>
			</bellunopix>
			<bellunolink>
				<model>Belluno\Magento2\Model\Method\PaymentLink</model>
				<active>1</active>
				<title>Belluno - Payment Link</title>
				<order_status>pending</order_status>
			</bellunolink>
		</payment>
	</default>
</config>