<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="payment_method_assign_data_bellunopayment">
    <observer name="belluno_payment_data_assign" instance="Belluno\Magento2\Observer\DataAssignCreditCardObserver" />
  </event>
  <event name="payment_method_assign_data_bellunobankslip">
    <observer name="belluno_bankslip_data_assign" instance="Belluno\Magento2\Observer\DataAssignBankSlipObserver" />
  </event>
  <event name="sales_order_place_after">
    <observer name="belluno_sales_order_place_after" instance="Belluno\Magento2\Observer\OrderObserver" />
  </event>
</config>